@font-face {
  font-family: charter;
  src: url('../fonts/Regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/Bold.otf');
  font-style: normal;
  font-weight: bold;
}

:root{
  font-size: 16px;
  --gris30: #212121;
  --gris20: #212429;
  --gris10: #616161;
  --negro: #000;
  --amarilo: #FEC62E;
}

body{
  color: var(--gris30);
  font-family: 'Roboto', sans-serif;
}

a{
  color: var(--gris30);
}

header{
  /* --gris10: red; Se puede cambiar el valor de la variable de manera local */
  font-size: 14px;
  color: var(--gris10);
}

header a {
  color: var(--gris10);
  text-decoration: none;
}

header a:hover{
  color: var(--gris30);
}

nav details summary{
  font-weight: bold;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList);
}

.section-content h3::after{
  content:''; /*El content no maneja semantica*/
  width: 80px;
  height: 4px;
  background: #424242;
  display: block; /* Se debe modificar el display ya que viene por defecto inline y este no acepta el alto*/
}

pre{
  background: var(--amarilo);
}

.hero{
  background-image: linear-gradient(to top, rgba(255,255,255, .3) 0, transparent), url(../assets/patron.png);
  /* background-repeat: no-repeat;
  background-position: center; */
  /* background-size: cover; */
  height: 350px;
}
